/*======== FORMS VARIABLES & MIXINS & EXTENDS =========*/
%form_e_base{
	display: inline-block;
	background-color: var(--color-lightgray);
	border: 1px solid var(--color-gray);

  	border-radius: calc(var(--space)*2);
  	box-sizing: border-box;
  	padding: calc(var(--space)/2) var(--space);
  	margin-bottom: calc(var(--space)/2);

  	font-size: var(--text-size-base);
  	font-weight: 500;

  	transition: all 0.2s ease-in-out;

  	&[disabled], &[disabled]:hover{
	    cursor: default;
	    opacity: 0.7;
  	}
}


%form_b_base{
	text-align: center;

  	appearance: none;
  	border: 0;
  	cursor: pointer;
  	font-weight: 700;

  	&, &:hover, &:focus, &:visited{
      text-decoration: none;
      text-decoration: none !important;
    }

    &:hover{ opacity: 0.9; }
}


@keyframes Shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}


/*======== INPUTS =========*/

input:not([type='submit']){
  @extend %form_e_base;

  &.error{
		border-color: var(--color-red);
		animation: 0.2s ease-in-out Shake 2;
	}
}



/*======== BUTTONS =========*/
input[type='submit'], button, a.btn-blue, input.btn-blue, button.btn-blue{

	@extend %form_e_base;
	@extend %form_b_base;

	background-color: var(--color-blue);
	&, &:hover { color: var(--color-light); }
}

a.btn-red, input.btn-red, button.btn-red{
	@extend %form_e_base;
	@extend %form_b_base;

	background-color: var(--color-red);
	&, &:hover { color: var(--color-light); }
}

a.btn-green, input.btn-green, button.btn-green{
	@extend %form_e_base;
	@extend %form_b_base;

	background-color: var(--color-green);
	&, &:hover { color: var(--color-light); }
}

a.btn-yellow, input.btn-yellow, button.btn-yellow{
	@extend %form_e_base;
	@extend %form_b_base;

	background-color: var(--color-yellow);
	&, &:hover { color: var(--color-dark); }
}