body {
	--text-size-base: 1.3rem;
	--text-size-title: 2.5rem;
	// --text-scale-ratio: 1.25;

	--color-dark: #333;
	--color-light: #fff;
	--color-blue: #03A5ED;
	--color-green: #3C9E1A;
	--color-orange: #F29100;
	--color-red: #F15A24;
	--color-yellow: #FBDC56;
	--color-lightgray: #f4f4f4;
	--color-gray: #ccc;

	--paddings: 20px;
	--space: 1.6rem;
  	--width-text: 820px;
  	--width-base: 1280px;

 //  	--mq-desktop: 1280px;
	// --mq-tablet: 750px;
	// --mq-mobile: 500px;
	// --mq-menuhide: 980px;
}