
.aira-flot-layout { 
  max-width: 1600px;
  margin: 0 auto;
  padding: calc(var(--space) * 0.5);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: var(--color-light);
}

.aira-flot li {
  margin: 0;
}

.aira-flot-link {
  padding: 0;
  font-size: calc(var(--text-size-base) * 0.9);
  font-weight: 500;
  color: var(--color-light);
  text-decoration: none;
}

.aira-flot-link:hover {
  color: var(--aira-flot-dark-blue);
}

.aira-flot-btn {
  margin: 0;
  padding: calc(var(--space) * 0.6) calc(var(--space) * 1.2);
  font-family: inherit;
  font-size: calc(var(--text-size-base) * 0.8);
  color: var(--color-light);
  border-radius: 120px;
  background-color: var(--aira-flot-blue);
  border-color: transparent;
}

.aira-flot-btn--transparent {
  background-color: transparent;
  border-color: var(--color-light)
}

.aira-flot-btn--dark {
  background-color: var(--aira-flot-dark-blue)
}