body {
	--text-size-base: 1.3rem;
	--text-size-title: 2.5rem;

	--color-dark: #333;
	--color-light: #fff;
	--color-blue: #03A5ED;
	--color-green: #3C9E1A;
	--color-orange: #F29100;
	--color-red: #F15A24;
	--color-yellow: #FBDC56;
	--color-lightgray: #f4f4f4;
	--color-gray: #ccc;
	--color-darkish: #1F1F1F;

	--paddings: 20px;
	--space: 1.6rem;
  	--width-text: 820px;
  	--width-base: 1280px;
}